.logo {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #166534;
    padding-left: 2rem;
    padding-top: .5rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

.logo:hover {
    color: #f97316;
}

.logoAndNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100% - 2rem, 1500px);
    margin: 0 auto;
}

.navbar {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-top: .7rem;
    margin-right: 0.5rem;
}

.navbar a:not(.login-btn) {
  margin-top: 0.6rem;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

a:hover {
    color: blue;
}

.login-btn {
  margin-left: 1.5rem;

  padding: 0.6rem 1.4rem;

  border-radius: 8px;

  background-color: #166534;
  color: white;

  text-decoration: none;
  transition: background-color 0.2s ease;
}

.login-btn:hover {
  background-color: #14532d;
}
