.modal-backdrop {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: min(90%, 400px);
}